body {
  background-color: black;
}
.arrow{
  position: fixed;
  margin-left:90%;
  margin-top:25%;
  width:55px;
  opacity: 70%;
  transform-origin: 0.4s;
}
.arrow:hover{
  opacity: 50%;
  box-shadow: 0 0 10px 3px rgba(255,0,0, 1);
  background-color:  rgba(255,0,0, 0.9) ;
}

.w-body img {
  width: 30%;
  min-width: 200px;
  padding-left: 30%;
}

.w-note{
  padding-top: 50px;
  padding-right: 10px;
  display:grid;
  grid-template-columns:1fr 2fr;
  color:rgb(151, 151, 151);
  font-family: "Titillium Web", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 light;
  font-size:16px;
  max-width: 1000px;
}
.w-note img{
  padding-top: 5%;
  padding-right:10px;
  padding-left: 60px;
  width: 30%;
  min-width: 60px;
}

.bold{
  color:rgb(190, 190, 190);
  font-weight: bold;
  font-size: 16px;
}

.row{
  display:flex;
  align-items: center;
}

.description{
  color:rgb(151, 151, 151);
  font-family: "Titillium Web", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 light;
  font-size:16px;
}

.w-body-video {
  height: auto;
  width: 100%;
  color: rgb(180, 49, 49);
  min-width: 300px;
  display: block;
}


.copy-right{
  text-align: center; 
  padding-top: 150px; 
  color:#565656;
  font-size: 11px;
  bottom:8px;
  }