.header-yang-xin{
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  margin:10px 20px 20px 20px;  
  transform: rotate(0deg); 
}
.name-yang-xin {
  text-decoration: none;
  cursor:pointer;
  font-size: 20px;   
  color:#000000;
  transition: text-shadow 0.3s, color 0.3s;
  
}
.name-yang-xin:hover{
  color:aliceblue;
  text-shadow:  0px 0px 40px rgba(0, 47, 255, 1);     
}
.menu-icon {
cursor: pointer;
margin-top:20px;
padding: 20px 10px 5px 7px;
position: relative;
transform: rotate(5deg);
}
.bar {
width: 30px;
height: 4px;
border-radius: 1px;
background-color: #000000;
margin: 5px;
transition: 0.4s;
}

.bar:hover{
width: 30px;
background-color: aliceblue;
box-shadow: 0 0 30px 5px rgba(0, 47, 255, 0.4);
transform: rotate(45deg); 
}

/* Style for the menu (initially hidden) */
.menu {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
list-style-type: none;
width: 30px;
padding-top:20;
margin-top: 10px;
position: absolute;
background-color: #ffffff46;
display: none;
}
.menu li {
padding-top: 10px;
padding-bottom: 20px;
margin-left: -30px;
transform: rotate(5deg);   
}
.menu a {
text-decoration: none;
color: #000000;
}
.menu a:hover {
  color: aliceblue;
  text-shadow:  0px 0px 30px rgba(0, 47, 255, 1); 
}  
     
.copy-right{
text-align: center; 
padding: 30px; 
color:#000000;
font-size: 11px;
bottom:8px;
}

/* contact elements CSS*/
.container{
  padding:190px 0px 150px 0px;  
  display:grid;
  grid-template-columns:1fr 3fr;
  min-width: 400px;
  column-gap:10px;
  row-gap: 20px;
  font-family: Arial, Helvetica, sans-serif;  
}
form {
  border: none;
  display:flex;
  flex-direction: column;
  height:300px;
  width: 50%;
}
.sendMessage:hover{
  color: rgb(223, 238, 251);
}
.contact-input{
  border-radius: 2px;
  border:none;
  background-color: rgb(244, 244, 244);
  margin-top: 5px;
  padding:5px 5px 5px 15px ;
}
.contact-input:hover{
  box-shadow: 0 0 50px 5px rgba(0, 47, 255, 0.1);
  background-color: aliceblue;
}
textarea::placeholder {
  color: #c2c2c2; /* Set the desired color */
}
input::placeholder {
  color: #c2c2c2;  /* Set the desired color */
}
.send-buttom{
  cursor: pointer;
  width:100px;
  border-radius: 7px;
  border:none;
  background-color:  rgb(244, 244, 244);
  margin-top: 10px;;
  padding:5px 5px 5px 15px ;
  position: center;
}
.send-buttom:hover{
  color:#c2c2c2;
  background-color: aliceblue;
  box-shadow: 0 0 10px 5px rgba(119, 235, 255, 0.2) inset;
  box-shadow: 0 0 50px 5px rgba(0, 47, 255, 0.2);
}
.iconContainer{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  height:50px;
  width: 50%;
}
.icons{
  padding:2px;
  width:33px;
  margin: 10px;  
  border-radius: 2px;;
}
.icons:hover{
  background-color: aliceblue;
  box-shadow: 0 0 2px 2px rgba(119, 235, 255, 0.1) inset;
  box-shadow: 0 0 20px 5px rgba(0, 47, 255, 0.1);
  opacity: 0.9;
}

.popup {
  background:rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {  
  margin-top: 25%;
  margin-left: 10%;
  width:80%;
  height:17px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(231, 235, 244);
  box-shadow: 0 0 260px 20px rgba(0, 47, 255, 0.3);
  transition: box-shadow 0.5s, background-color 0.5s;
}

.popup-content:hover{
  background-color: rgb(222, 226, 238, 0.1); 
  box-shadow: 0 0 30px 10px rgba(0, 47, 255, 0.2);
}

#close-popup {
  font-size: 14px;
  background: none;
  color: #3b3b3b;
  border: none;
  cursor: pointer;
}






