.myCanvasClass {
  pointer-events: none;
}

body {
  height: 100%;
  margin: 0;
  cursor: none; /* Hide the default cursor */
}

* {
  cursor: none;
}


/*//////*/
.header-yang-xin{
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  margin:10px 20px 20px 20px;  
  transform: rotate(0deg); 
}
.name-yang-xin {
  text-decoration: none;
  font-size: 26px;   
  color:#000000;
  transition: text-shadow 0.3s, color 0.3s;
}
.name-yang-xin:hover{
  color:aliceblue;
  text-shadow:  0px 0px 20px rgba(255,0,0, 1);     
}
.menu-icon {
margin-top:20px;
padding: 20px 10px 5px 7px;
position: relative;
transform: rotate(5deg);
}
.bar {
width: 30px;
height: 4px;
border-radius: 1px;
background-color: #000000;
margin: 5px;
transition: 0.4s;
}

.bar:hover{
width: 30px;
background-color: aliceblue;
box-shadow: 0 0 20px 3px rgba(255,0,0, 0.9);
transform: rotate(45deg); 
}

/* Style for the menu (initially hidden) */
.menu {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
list-style-type: none;
width: 30px;
padding-top:20;
margin-top: 10px;
position: absolute;
background-color: rgba(0, 47, 255, 0);
display: none;
}
.menu li {
padding-top: 10px;
padding-bottom: 20px;
margin-left: -30px;
transform: rotate(5deg);   
}
.menu a {
text-decoration: none;
color: #000000;
}
.menu a:hover {
  color: aliceblue;
  text-shadow:  0px 10px 30px rgba(255,0,0, 1); 
}  
     
.copy-right{
text-align: center; 
padding: 30px; 
color:#000000;
font-size: 11px;
bottom:8px;
}

@media (max-width: 600px) {
  .content {
      min-height: calc(100vh - 100px); /* Adjust for smaller screens */
  }
  .copy-right {
      height: 100px; /* Adjust for smaller screens */
  }
}