.img-magnifier-container {
  position: relative;
  }
  
  .img-magnifier-glass {
  position: absolute;
  border: 0px solid #000;
  border-radius: 50%;
  cursor: none;
  /* Size of the magnifier glass: */
  width: 200px;
  height: 200px;
  }
  
.w-body {
  background-color: rgb(37, 37, 37);
  padding-top: 0px;
  padding-left:0px;
  margin:-8px;
  font-family: Arial, Helvetica, sans-serif;  
}

/* hide the video play panel*/
.w-body-video::-webkit-media-controls,
.w-body-video::-webkit-media-controls-panel {
  display: none !important;
}

.work-picture{
  width: 100%;
  min-width: 300px;
  display: block;
}

.workGif{
  width:70%;
  min-width: 300px;
  opacity: 80%;
  margin-right: 10px;
  display: block;
  margin-left: 30%;
}

.workGifThree{
  width:70%;
  min-width: 300px;
  opacity: 80%;
  margin-right: 10px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  margin-left: 30%;
}

.tiltle-works{
  margin-top: px;
  font-size: 12px;
  color:black;
}
.information-works{
  margin-top: -10px;
  font-size: 11px;
  color:rgb(135, 135, 135);
}
.statement-works{
  margin-top:20px ;
  padding:0px;
  font-size:14px;
  width:100%;
  min-width: 400px;
  color:rgb(135, 135, 135);
  position:center;
}

#image {
  position: absolute;
  width: 70px;
  height: 70px;
}

.column-item{
  margin-bottom:20px;
}

