body{
  width:400px;
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(109, 109, 109);
}

body img {
  width:300px;               
}

#typing-effect {
border-right: 3px solid;
white-space: nowrap;
overflow: hidden;
font-family: monospace; /* Gives it a typewriter-like appearance */
animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* Cursor blink animation */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: black; }
}         