.workCovers-contents {
    padding:120px 200px 150px 200px;  
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    min-width: 200px;
    column-gap:10px;
    row-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;   
}

.work-covers{
  min-width: 100px;
  width:80%;
  border-radius: 3px;
  margin:5px;
  animation: move 30s linear infinite, pulse 15s alternate infinite;
}

@keyframes pulse {
  0%, 100% {
      transform: scale(0.98);
  }

  50% {
    transform: scale(1.03);
  }         
}
.work-covers:hover {
  opacity:0.8;
}
.cover-text-title{
  margin-top:-5px;
  margin-left:10px;
  color:rgb(0, 0, 0);
  font-size: 13px;
  cursor: pointer;
}
.cover-text-title:hover{
  opacity:0.5;
}
.cover-text{
  margin-top:-10px;
  margin-left:10px;
  color:rgb(135, 135, 135);
  font-size: 11px;
}
